{% extends "base.html" %}

{% block title %}Crear Post | Mini blog{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="field">
    <label class="label">Nombre</label>
    <div class="control">
      {{ form.title }}
    </div>
  </div>  

  <div class="field">
    <label class="label">Nombre</label>
    <div class="control">
      {{ form.image }}
    </div>
  </div>     

  <div class="field">
    <label class="label">Contenido</label>
    <div class="control">
      {{ form.body }}
    </div>
  </div>      

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <!--<button class="button is-link is-light">Cancel</button>-->
    </div>
  </div>

</form>
{% endblock %}