<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Blog</title>
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          Mi mini blog
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item">Artículos</a>
          <a class="navbar-item">Dashboard</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <!-- -->
  <div class="container">
    <div class="section">

      <div style="margin-bottom: 16px">
        <a href="{% url 'create' %}" class="button is-info">Añadir</a>
      </div>

      <table class="table table-full">
        <thead>
          <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Articulo</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for post in posts %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.created }}</td>
            <td>
              <a href="{% url 'update' post.id %}" class="button is-link is-light">Modificar</a>
              <a href="{% url 'delete' post.id %}" class="button is-danger is-light">Eliminar</a>
            </td>
          </tr>            
        {% endfor %}  
          
        </tbody>
      </table>

    </div>
  </div>

  <!-- -->


  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        </div>
        <p>
          Para uso del curso de Django
        </p>
      </div>
    </div>
  </footer>

</body>
</html>