{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Blog</title>
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

	<!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          Mi mini blog
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item">Artículos</a>
          <a href="#" class="navbar-item">Dashboard</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <!-- -->
  <div class="container">
    <div class="section">

      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title">{{ post.title }}</h1><br>
        </div>
      </div>

      <article class="media">
        <figure class="media-left">
          <p class="image is-480x480">
            <img src="{{ post.image.url }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <small>Creado: {{ post.created|date:"l, d F Y, H:i" }}</small>
              <br>
              {{ post.body }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>

      
    </div>
  </div>
  <!-- -->


  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        </div>
        <p>
          Para uso del curso de Django
        </p>
      </div>
    </div>
  </footer>

</body>
</html>